/* Selector universal*/
*{
    box-sizing: border-box;

}

/* Selector de etiqueta*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
header{
    
    padding: 50px;
    background-color: #000000;
    text-align: center;

}


section{
    flex: 70%;
    background-color: #8d8d8d;
    padding: 20px;

}

footer{
    
    padding: 20px;
    text-align: center;
    background-color: #022473;

}

h1, h4{
    color: white;
}

table {
    border-collapse: collapse;
    width: 70%;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  

/* selector de clase*/
.row{
    display: flex;
    flex-wrap: wrap;

}
@media screen and (max-width:700px) {
    nav,.row{
        flex-direction: column;
    }
    
}